.Magazine_Container {
  font-family: "Inter", sans-serif;
  width: 22rem;
  box-shadow: rgba(0, 0, 0, 0.36) 0px 1px 4px;
  border-radius: 8px;
  margin: 1.5rem;
}
.thumbnail img {
  width: 20rem;
  height: 20rem;
  margin: 1rem 1rem 0 1rem;
}

.mag_Info {
  display: flex;
  justify-content: space-between;
  width: 20rem;
  margin: 0rem 1rem 0 1rem;
}

.mag_Info span {
  padding: 1rem 0rem;
  font-weight: 600;
}